{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<section id="container" class="sub-page">
	<div class="wrap-container zerogrid">
		<div class="crumbs">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="add_cuisine.html">Add Cuisine</a></li>
			</ul>
		</div>
		<div id="main-content">
			<div class="wrap-content">
				<div class="row">
					<div class="wrap-col" id="cuisine_form">
						<h2 id="cuisine_title">Add your magical Cuisine.</h2>
							<form name="cuisine" id="cuisine" method="post" action="" enctype="multipart/form-data">
								{{form.csrf_token}}

								<label class="row">
									<div class="wrap-col">
										<h2 class="cuisine_option">What's it called?</h2>
									</div>
								</label>

								<label class="row">
									<div class="wrap-col">
										{{form.title}}
									</div>
								</label>

								<label class="row">
									<div class="col-2-4">
										<div class="wrap-col">
											<h2 class="cuisine_option">Main Ingredient</h2>

										</div>
									</div>

									<div class="col-2-4">
										<div class="wrap-col">
											<h2 class="cuisine_option">Global Origin</h2>
										</div>
									</div>

								</label>


								<label class="row">
									<div class="col-2-4">
										<div class="wrap-col">

											{{form.main_ingr(class="form_select")}}
										</div>
									</div>

									<div class="col-2-4">
										<div class="wrap-col">
											{{form.global_(class_="form_select")}}
										</div>
									</div>

								</label>

								<label class="row">
									<div class="col-2-4">
										<div class="wrap-col">
											<h2 class="cuisine_option">Preparation Method</h2>

										</div>
									</div>

									<div class="col-2-4">
										<div class="wrap-col">
											<h2 class="cuisine_option">Meal Type</h2>
										</div>
									</div>

								</label>


								<label class="row">
									<div class="col-2-4">
										<div class="wrap-col">

											{{form.preparation(class_ = "form_select")}}
										</div>
									</div>

									<div class="col-2-4">
										<div class="wrap-col">
											{{form.meal_type(class_ = "form_select")}}

										</div>
									</div>

								</label>

								<label class="row">
									<div class="wrap-col">
										<h2 class="cuisine_option">Tell us more about your creation.</h2>
									</div>
								</label>


								<label class="row">
									<div class="wrap-col">
										{{form.description(rows="4", cols="25")}}
									    </div>
								</label>

								<label class="row">
									<div class="wrap-col">
										{{form.cuisine_img(class_ ="form_select")}}
									</div>
								</label>


								<center><input class="sendButton" type="submit" name="Submit" value="Submit"></center>
							</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{%endblock%}